* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter Light";
    src: url(/fonts/Inter/static/Inter-Light.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Inter Medium";
    src: url(/fonts/Inter/static/Inter-Medium.woff2) format('woff2');
    font-display: swap;

}

@font-face {
    font-family: "Inter Bold";
    src: url(/fonts/Inter/static/Inter-Bold.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Inter Regular";
    src: url(/fonts/Inter/static/Inter-Regular.woff2) format('woff2');
    font-display: swap;
}

body {
    background-color: #f8f9fa;
}